h1 {
    color: yellow;
}

p {
    width: 110%;
    color: #f9f651;
    line-height: 2.0;
    padding: 20px;
    margin: 15px;
    font-size: 20px;
    
}
.playfair-display {
  font-family: Playfair Display, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body
{
    background-color: lightblue;
}

article {
    color: #f9f651;
    padding: 20px;
    font-size: 18px;
}

div {
    color: #f9f651;
    background-color: navy;
    font-size: 20px;
}

button {
    font-size:10px;
    padding: 15px 30px;
    background-color: #f9f651;
    color: navy
}

input[type="text"] {
    width: 300px;
    height: 30px;
    font-size: 11px;
    padding: 10px;
}

input[type="email"] {
    width: 300px;
    height: 30px;
    font-size: 11px;
    padding: 10px;
}

input[type="password"] {
    width: 300px;
    height: 30px;
    font-size: 11px;
    padding: 10px;
}


